.about-us {
  background-color: var(--about-us-bgr);
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 50px;
}

.members li {
  background-color: var(--secondary-color);
}

.img {
  max-width: 100%;
  height: auto;
}

.members__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  margin-top: 10px;
}
.about-members {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.members__item {
  max-width: 450px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .members {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .members__item {
    width: calc((100% / 2) - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .members {
    margin-top: 50px;
  }

  .members li:not(:last-child) {
    margin-right: 10px;
  }

  .members__item {
    width: calc((100% / 4) - 30px);
  }
}
