.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-clients-section__title {
  margin-bottom: 30px;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc((100% / 2) - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% / 3) - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .our-clients-section__title {
    margin-bottom: 50px;
  }

  .clients__item {
    width: calc((100% / 6) - 30px);
  }

  .clients {
    margin-top: 50px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  background-color: transparent;
  border: 1px solid var(--social-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.clients__icon {
  fill: var(--social-icon-color);
  padding-top: auto;
  padding-bottom: auto;
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
