.our-features {
  padding-bottom: 0px;
}

.icon-box {
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;
  }

  .features__item {
    width: calc(100% / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
  }

  .features__item {
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}
