.hero {
  background-color: var(--background-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-images/bg-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192 dpi) and (max-width: 767px),
  (min-resolution: 2 dppx) and (max-width: 767px) {
  .hero {
    background-image: url(../images/background-images/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/background-images/bg-tablet.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192 dpi) and (min-width: 768px),
  (min-resolution: 2 dppx) and (min-width: 768px) {
  .hero {
    background-image: url(../images/background-images/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/background-images/bg-desktop.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192 dpi) and (min-width: 1200px),
  (min-resolution: 2 dppx) and (min-width: 1200px) {
  .hero {
    background-image: url(../images/background-images/bg-desktop@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-top: 30px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  padding: 10px 32px;
  transition: background var(--transition-duration)
    var(--transition-timing-function);

  &:focus,
  &:hover {
    background: var(--btn-bgr-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 1.36;
  }

  .hero {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
