.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 94%;
  overflow: auto;
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

.modal-btn-close__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .modal-btn-close:focus &,
  .modal-btn-close:hover & {
    fill: var(--accent-color);
  }
}
