:root {
  --second-font-family: Raleway, sans-serif;
  --main-font-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --secondary-font-color: #757575;
  --background-hero: #c4c4c4;
  --btn-bgr-color: #188ce8;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --about-us-bgr: #f5f4fa;
  --border-header-color: #e5e5e5;
  --skills-border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
